  

  a {
    color: #1772d0;
    text-decoration: none;
  }
  
  a:focus,
  a:hover {
    color: #f09228;
    text-decoration: none;
  }
  
  header{
    margin-top: 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 95%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100px;
    border-bottom: 3px solid #1772d0;
    background-color: #ffffff;
  }

  .logo{
    font-size: 22px;
  }

  nav a{
    font-size: 16px;
    color: blue;
    margin-left: 20px;
    transition: 0.3s ease;
  }
  nav a:hover, nav a:active{
    color: pink;
    border-bottom: 3px solid pink;
  }
  

  body,
  html,
  td,
  th,
  tr,
  p
  {
    
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
  }
  
  strong {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  h2 {
    margin: 0;
    font-weight: normal;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 22px;
  }
  
  .papertitle {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  
  
  
  .one {
    width: 160px;
    height: 160px;
    position: relative;
  }
  
  .two {
    width: 160px;
    height: 160px;
    position: absolute;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
  }
  
  
  
  span.highlight {
    background-color: #ffffd0;
  }

  .container{
    padding: 100px;
  }
  
  